BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "vclk" SITE "88" ;
LOCATE COMP "RGB_out_en" SITE "99" ;
LOCATE COMP "vdata[0]" SITE "54" ;
LOCATE COMP "vdata[1]" SITE "58" ;
LOCATE COMP "vdata[2]" SITE "57" ;
LOCATE COMP "vdata[3]" SITE "62" ;
LOCATE COMP "vdata[4]" SITE "63" ;
LOCATE COMP "vdata[5]" SITE "67" ;
LOCATE COMP "vdata[6]" SITE "66" ;
LOCATE COMP "vdata[7]" SITE "70" ;
LOCATE COMP "vphase" SITE "53" ;
LOCATE COMP "R_Cr_DAC[0]" SITE "52" ;
LOCATE COMP "R_Cr_DAC[1]" SITE "51" ;
LOCATE COMP "R_Cr_DAC[2]" SITE "49" ;
LOCATE COMP "R_Cr_DAC[3]" SITE "48" ;
LOCATE COMP "R_Cr_DAC[4]" SITE "43" ;
LOCATE COMP "R_Cr_DAC[5]" SITE "42" ;
LOCATE COMP "R_Cr_DAC[6]" SITE "41" ;
LOCATE COMP "R_Cr_DAC[7]" SITE "40" ;
LOCATE COMP "G_Y_DAC[0]" SITE "39" ;
LOCATE COMP "G_Y_DAC[1]" SITE "38" ;
LOCATE COMP "G_Y_DAC[2]" SITE "35" ;
LOCATE COMP "G_Y_DAC[3]" SITE "34" ;
LOCATE COMP "G_Y_DAC[4]" SITE "32" ;
LOCATE COMP "G_Y_DAC[5]" SITE "31" ;
LOCATE COMP "G_Y_DAC[6]" SITE "28" ;
LOCATE COMP "G_Y_DAC[7]" SITE "27" ;
LOCATE COMP "B_Cb_DAC[0]" SITE "21" ;
LOCATE COMP "B_Cb_DAC[1]" SITE "25" ;
LOCATE COMP "B_Cb_DAC[2]" SITE "20" ;
LOCATE COMP "B_Cb_DAC[3]" SITE "17" ;
LOCATE COMP "B_Cb_DAC[4]" SITE "16" ;
LOCATE COMP "B_Cb_DAC[5]" SITE "13" ;
LOCATE COMP "B_Cb_DAC[6]" SITE "12" ;
LOCATE COMP "B_Cb_DAC[7]" SITE "8" ;
LOCATE COMP "clk_DAC" SITE "7" ;
LOCATE COMP "nBlanking_DAC" SITE "9" ;
LOCATE COMP "nC_sync_DAC" SITE "24" ;
FREQUENCY PORT "vclk" 54.000000 MHz ;
INPUT_SETUP ALLPORTS 10.000000 ns HOLD 4.000000 ns CLKPORT "vclk" ;
